<div>
  <img src="/assets/propic.jpg" alt="Leonardo">
  <p>
   Technical content on Open Source, Web Development and Visual Studio Code.
   I'm Leonardo Montini and that's what I like to talk about, let's get in touch!
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
